

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

header {

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 1em;
  background-color: var(--white);
}

header>a {
  text-decoration: none;
}

h1 {
  color: #000000;
  font-size: 1.8rem;

}

.link-list {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--soft-black);
}

.user-logo img{
  color: var(--soft-black);
  border-radius: 50%;
  border: var(--soft-black) solid 2px;
  width: 25px;
}
.nav-link-active{
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
  font-size: 1.3rem;
  }


main {
  flex: 1;
}

.hero {
  background-image: url('./assets/landing-lg.png');
  background-color: var(--gray);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 1em;
  gap: 1em;
  min-height: 80vh;
}

.hero>h2,
p {
  color: #ffffff;
}

.hero>h2 {
  font-size: 2.3rem;
}

.cta-btn {
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.1rem;
}

footer {
  background-color: var(--soft-black);
  
  text-align: center;
  padding: 2em;
  margin-top: auto;
}
footer>p{
  color: #aaaaaa;
}

/***  about  ***/

.about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section>img{
  width: 100%;
  order: -1;
}
.about-info{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 3em;
  max-width: 1000px;
  margin: 0 auto;
}
.about-info>p{
  color: var(--black);
}

.about-cta{
  background-color: var(--cream);
  padding: 2em;
  border-radius: 5px;
}

.about-cta>button{
  background-color: var(--black);
  padding: 1em 2em;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
}

/*   vans  */

.vans-section{
  width: 90%;
  max-width: 1000px;
  padding: 2em;
  margin: 0 auto;
}
.vans-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.van-card > a{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-decoration: none;
}
.van-image{
  width: 100%;
  border-radius: 5px;
  grid-column: 1 / -1;
}

.van-title{
  grid-column: 1 / 2;
  justify-items: start;
  
}
.van-price{
  grid-column: 2 / 3;
  justify-self: end;
  color: #161616;
}

.van-card i, .van-info i{
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

/*   van details*/

.van-details-section{
  width: 90%;
  padding: 1em;
  margin: 0 auto;
}
.van-details-container, .host-van-details-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.van-details-container>img{
  order: -1;
  width: 100%;
  border-radius: 5px;
}

.van-info{
  display: flex;
  flex-direction: column;
  gap: 1em;

}
.van-info>h2, p{
  color: #161616;
}

.van-info>i{
  width: fit-content;
  order: -1;
}

.van-info>button{
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  padding: 1em;
  color: #ffffff;
  font-weight: 600;
}

/*  host ***/

.host-nav>ul{
  display: flex;
  list-style-type: none;
  gap: 1em;
  
}

.host-link{
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
}

.host-link-active{

   font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

/*  host vans*/

.host-vans-section{
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}
.host-vans-list{
  display: flex;
 flex-direction: column;
 
  gap: 2em;
  align-items: center;
 
}

.host-vans-list a{
  text-decoration: none;
}
.host-van-single{
  display: flex;
  flex-direction: column;

}
.host-van-single>img{
  width: 300px;
  border-radius: 5px;
}

.host-van-details-container>img{
  width: 50%;
}

.van-details-nav{
  display: flex;
  gap: 1em;
}
 

/* vans type*/

.vans-nav{
  display: flex;
  gap: 1em;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}


.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.not-found>a{
  background-color: #161616;
  color: #aaaaaa;
  border-radius: 5px;
  padding: .5em 1em;
  width: fit-content;
}

.page-404{
  width: 70%;
  margin: 0 auto;
  height: 70vh;
  text-align: center;

}

/*   login*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-inline: 27px;
    height: 70vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;    
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}



@media (min-width:700px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  nav{
    margin-right: 3em;
  }
  .hero{
    padding: 4em;
  }
  .cta-btn{
    width: fit-content;
  }
}